* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: white;
}
h2 {
  color: rgb(132, 43, 43);
}
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #3c796f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("iron_throne.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
} */

header {
  width: 100%;
  text-align: center;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 960px;
}

nav a {
  color: rgb(132, 43, 43);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
p {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav a:hover {
  color: black;
}

main {
  padding: 20px;
  width: 100%;
  max-width: 960px;
  text-align: center;
}

section {
  margin-bottom: 40px;
}

section img.profile-image {
  max-width: 250px;
  height: 10%;
  border-radius: 40%;
  display: block;
  margin: 0 auto 80px auto;
}
p strong {
  color: black;
  padding: 10px;
}

#projects a {
  color: black;
}

#contact a {
  color: black;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(132, 43, 43);
  color: white;
  width: 100%;
}

@media (min-width: 601px) and (max-width: 960px) {
  main {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  header {
    text-align: center;
  }

  .header-content {
    padding: 10px;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  main {
    padding: 10px;
  }

  section img.profile-image {
    max-width: 100px;
  }
}
